/*========================================================================================*/
/*                                                                                        */
/*                rmem executable model                                                   */
/*                =====================                                                   */
/*                                                                                        */
/*  This file is:                                                                         */
/*                                                                                        */
/*  Copyright Peter Sewell, University of Cambridge                          2011, 2014   */
/*  Copyright Shaked Flur, University of Cambridge                                 2017   */
/*  Copyright Ohad Kammar, University of Cambridge (when this work was done)       2013   */
/*  Copyright Susmit Sarkar, University of St Andrews                              2014   */
/*  Copyright Jon French, University of Cambridge                                  2017   */
/*                                                                                        */
/*  All rights reserved.                                                                  */
/*                                                                                        */
/*  The rmem tool is distributed under the 2-clause BSD license in LICENCE.txt.           */
/*  For author information see README.md.                                                 */
/*                                                                                        */
/*========================================================================================*/

.li-itemize{margin:1ex 0ex;}
.title{margin:2ex auto;text-align:center}
.center{text-align:center;margin-left:auto;margin-right:auto;}
DIV TABLE{margin-left:inherit;margin-right:inherit;}
PRE{text-align:left;margin-left:0ex;margin-right:auto;}
BLOCKQUOTE{margin-left:4ex;margin-right:4ex;text-align:left;}
TD P{margin:0px;}
