/*===================================================================================*/
/*                                                                                   */
/*                rmem executable model                                              */
/*                =====================                                              */
/*                                                                                   */
/*  This file is:                                                                    */
/*                                                                                   */
/*  Copyright Shaked Flur, University of Cambridge                            2019   */
/*                                                                                   */
/*  All rights reserved.                                                             */
/*                                                                                   */
/*  It is part of the rmem tool, distributed under the 2-clause BSD licence in       */
/*  LICENCE.txt.                                                                     */
/*                                                                                   */
/*===================================================================================*/

/* This style is intended for HTML code that is generated by RMEM
 * (pp.ml, structured_output.ml) */

hr.rmem {
  margin-top: 5px;
  margin-bottom: 5px;
}

span.rmem.command_usage {
  color: darkgreen;
}

span.rmem.tran_id {
  color: blue;
}

span.rmem.memory_action {
  color: darkcyan;
}

span.rmem.warning {
  color: darkgoldenrod;
  font-weight: bold;
}

span.rmem.info {
  color: darkcyan;
}

span.rmem.final {
  color: darkgreen;
}

span.rmem.sail {
  color: darkgreen;
}

span.rmem.changed_gone {
  color: gray;
}

span.rmem.changed_new {
  color: red;
}

span.rmem.dwarf_source_lines {
  color: darkgoldenrod;
}

span.rmem.trans {
  text-decoration: underline;
  color: blue;
}

span.rmem.trans.default {
  font-weight: bold;
  background: yellow;
}

span.rmem.trans:hover {
  cursor: pointer;
}

pre.flowingstorage {
  font-family: monospace;
  word-spacing: 0px;
}
